html, body {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result {
  color: red;
  font-weight: bold;
  font-size: 24;
}
