#app {
  margin: 0 auto;
  text-align: center;
}

#result {
  color: #47b5ff;
  font-weight: bold;
  font-size: 24;
}

.hunter-font:hover {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
